<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="" />

    <!-- FB 基本設定 -->
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
        

    <!--web-fonts-->
    <link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
    
    <!-- Stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,600,700|Open+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"/>
	<link rel="stylesheet" href="/stylesheets/dark.css" type="text/css" />
	<link rel="stylesheet" href="stylesheets/swiper.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/business.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/fonts.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/animate.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/magnific-popup.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/et-line.css" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/custom.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style2.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="all" />

	<!-- Theme Color -->
	<link rel="stylesheet" href="/stylesheets/colors.php?color=00BED7" type="text/css" />

    <link rel="shortcut icon" href="/images/favicon.ico"> 
    
    <title><%= pageTitle %></title>

</head>
<body class="stretched">
